<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registerpage</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <style>
    .f{
        margin-left: 150px;
        margin-top: 100px ; 
        background-color: whitesmoke;
        color: dodgerblue;
        width: 70%;
        text-align: center;
        height: 630px;
      }

      
    </style>

  </head>

  <body>
    {% extends 'base.html' %}

    {% block content %}

    <div class="container my-4">
      <div class='main'>
        <!-- Registration Form -->
        <div class='d1'>

          <form class="f py-3" action="" method="POST" autocomplete="off">
            {% csrf_token %}
            <caption>
              <h2>Employee Form</h2>

            </caption>
            {% if msg %}
            <p style="font-size: 20px; color: green;"> {{msg}}</p>
            {% endif %}
            <hr>
            <div class="col-md-12 py-3">
              <label for="exampleInputPassword1">Enter Employee Id</label>
              <input type="number" readonly="" name="eid" value="{{emp.eid}}">
            </div>

            <div class="col-md-12 py-3">
              <label for="exampleInputPassword1">Enter Employee Name</label>
              <input type="text" name="name" value="{{emp.name}}">
            </div>

            <div class="col-md-12 py-3">
              <label for="exampleInputPassword1">Enter Employee Age</label>
              <input type="number" name="age" value="{{emp.age}}">
            </div>

            <div class="col-md-12 py-3">
                <label for="exampleInputPassword1">Enter Employee Contact</label>
                <input type="text" name="mobile" value="{{emp.mobile}}">
              </div>
  

            <div class="col-md-12 py-3">
              <label for="exampleInputPassword1">Enter Employee Email</label>
              <input type="email" name="email" value="{{emp.email}}">
            </div>

            <div class="col-md-12 py-3">
                <label for="exampleInputPassword1">Enter Employee City</label>
                <input type="text" name="city" value="{{emp.city}}">
              </div>

            <div class="col-md-12 py-3">
              <label for="exampleInputPassword1">Enter Employee Salary.</label>
              <input type="number" name="salary" value="{{emp.salary}}">
            </div>

            

            <br>
            <button type="submit" class="btn btn-primary">Update Employee</button>
            <br>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>

</html>