<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emp Details Page</title>
    <style>
        body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

    </style>
</head>
<body>
    
     {% extends 'base.html' %}

     {% block content %}

 <div class="container-fluid">
     <table class="table my-5">
        <thead class="table-success">
          <th>Employee Id</th>
          <th>Employee Name</th>
          <th>Employee Age</th>
          <th>Employee Mobile</th>
          <th>Employee E-Mail</th>
          <th>Employee City</th>
          <th>Employee Salary</th>
          <th>Update</th>
          <th>Delete</th>
        </thead>
        <tbody>

            {% for emp in employees%}    
            <tr>
                <th scope="row">{{ emp.eid }}</th>
                <td>{{ emp.name }}</td>
                <td>{{ emp.age }}</td>
                <td>{{ emp.mobile }}</td>
                <td>{{ emp.email }}</td
>
                <td>{{ emp.city }}</td>
                <td>{{ emp.salary }}</td>
                <td><a href="{%url 'edit' emp.eid%}">Update</a></td>
                <td><a href="{%url 'edit' emp.eid%}" style="color: red;">Delete</a></td>  
              </tr>
            {% endfor %}
      
        </tbody>
      </table>
    </div>
       

     {% endblock %}
</body>
</html>